/* checkavailability.css */

/* Style the container */
.container {
  /* margin-bottom: -300px;
  padding-top: 90px; */
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  color: white;
}

/* Style labels */
.startDate {
  display: block;
  margin-bottom: 10px;
}

.endDate {
  display: block;
  margin-bottom: 10px;
}

/* .capacity {
    display: block;
    margin-bottom: 10px;
  } */

.capacity {
  display: flex;
  flex-direction: column;
}

#capacity {
  width: 30%;
  height: 35px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: -10px;
  box-sizing: border-box;
  background-color: transparent;
  border-color: white;
  border-radius: 7px;
  color: white;
  border: none;
  font-size: 20px;
}

#startDate {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  color: white;
}

#endDate {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  color: white;
}

/* Style the button */
button {
  margin-top: 25px;
  cursor: pointer;
  width: 120px;
  height: 35px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: white;
  color: red;
}

/* Style the available rooms section */
h3 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

::-webkit-calendar-picker-indicator {
  color: white;
  filter: invert(100%);
}

/* input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
   */

/* input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */

.plus {
  width: 15%;
  margin-top: 5px;
  margin-bottom: -10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  padding-right: 15px !important;
}

.minus {
  width: 15%;
  margin-top: 5px;
  margin-bottom: -10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  padding-left: 0;
}

.separator {
  width: 15%;
  margin-top: 5px;
  margin-bottom: -10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
}

.capacity-input {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 150px;
  height: 40px;
}

.button-container {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}
