.review-container{
display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #18758830;
}

.title-rev{
    font-size: 15px;
    color: white;
}
.img{
width: 50px;
 height: 50px;
}

.text-container{
    color: white;
}

.img-name{
    display:flex;
    flex-direction: row;
    column-gap: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

/* Add styles for hearts */
.heart-container {
    font-size: 20px; /* Adjust font size as needed */
  }
  
  .heart-filled {
    color: red; /* You can change the color to your preference */
  }
  
  .heart-empty {
    color: lightgray;
  }
  

.name-time {
    display: flex;
    flex-direction: column;
}

.name-time > p {
    margin: 5px 0; /* Set margin to create a small gap (adjust as needed) */
}
